<html>
    <head>
      {% if title %}
      <title>{{ title }} - Instagram Bot</title>
      {% else %}
      <title>Instagram Bot</title>
      {% endif %}
    </head>
    <body>
        <div>
          Instagram Bot: 
          <a href="{{ url_for('index') }}">Home</a>
          <a href="{{ url_for('login') }}">Login</a>
          <a href="{{ url_for('data') }}">Profile</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>